.env
.env.*
!.env.example
**/.env
**/.env.*
*.env

node_modules/
**/node_modules/
/.pnp
.pnp.js

/build
/dist
/coverage
.next/
.out/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

.vscode/
.idea/